:root {
  --background: black;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #222;
  font-weight: 400;
}

.main {
  margin-top: 90px;
} 

/* navigation styles start here */

header {
  background: var(--background);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  position: fixed;
  top: 0;
}

.logo {
  color: purple;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out ;
}

nav a:hover {
  color: purple;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 700px) {

  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .logo {
    grid-column: 2 / 3;
  }

  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
  }
  
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  } 

  nav a {
    opacity: 1;
  }
}

.sect {
  text-align: center;
  font-size: 50px;
  
}

.floor1 {
  display: grid;
  grid-template-areas:
    ". . . . . . . . . . . ."
    ". . a . b . c . . . . ."
    ". . . . . . . . . . . ."
    "gng . . . d . e . f . g ."
    "gng . . . . . . . . . . ."
    "gng . h i j k l m n o p ."
    "gng . q r s t u v w x y ."
    ". . . . . . . . . . . ."
    ". . z aa bb cc dd ee ff gg . ."
    ". . . . . . . . . . . ."
    ". . . . . . bar bar bar bar bar bar";
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(11, 40px);
  text-align: center;
}

.floor1 a {
  text-decoration: none;
  color: black;
}

.bar_icon {
  grid-area: bar;
  background: blue;
  border: 2px solid black;
}

.gng {
  grid-area: gng;
  background: blue;
  border: 2px solid black;
}

.t27 {
  grid-area: a;
  background: blue;
  border: 2px solid black;
}
.t28 {
  grid-area: b;
  background: blue;
  border: 2px solid black;
}
.t29 {
  grid-area: c;
  background: blue;
  border: 2px solid black;
}
.t21 {
  grid-area: d;
  background: blue;
  border: 2px solid black;
}
.t22 {
  grid-area: e;
  background: blue;
  border: 2px solid black;
}
.t23 {
  grid-area: f;
  background: blue;
  border: 2px solid black;
}
.t24 {
  grid-area: g;
  background: blue;
  border: 2px solid black;
}
.t501 {
  grid-area: h;
  background: blue;
  border: 2px solid black;
}
.t502 {
  grid-area: i;
  background: blue;
  border: 2px solid black;
}
.t503 {
  grid-area: j;
  background: blue;
  border: 2px solid black;
}
.t504 {
  grid-area: k;
  background: blue;
  border: 2px solid black;
}
.t505 {
  grid-area: l;
  background: blue;
  border: 2px solid black;
}
.t506 {
  grid-area: m;
  background: blue;
  border: 2px solid black;
}
.t507 {
  grid-area: n;
  background: blue;
  border: 2px solid black;
}
.t508 {
  grid-area: o;
  background: blue;
  border: 2px solid black;
}
.t509 {
  grid-area: p;
  background: blue;
  border: 2px solid black;
}
.t301 {
  grid-area: q;
  background: blue;
  border: 2px solid black;
}
.t302 {
  grid-area: r;
  background: blue;
  border: 2px solid black;
}
.t303 {
  grid-area: s;
  background: blue;
  border: 2px solid black;
}
.t304 {
  grid-area: t;
  background: blue;
  border: 2px solid black;
}
.t305 {
  grid-area: u;
  background: blue;
  border: 2px solid black;
}
.t306 {
  grid-area: v;
  background: blue;
  border: 2px solid black;
}
.t307 {
  grid-area: w;
  background: blue;
  border: 2px solid black;
}
.t308 {
  grid-area: x;
  background: blue;
  border: 2px solid black;
}
.t309 {
  grid-area: y;
  background: blue;
  border: 2px solid black;
}
.t201 {
  grid-area: z;
  background: blue;
  border: 2px solid black;
}
.t202 {
  grid-area: aa;
  background: blue;
  border: 2px solid black;
}
.t203 {
  grid-area: bb;
  background: blue;
  border: 2px solid black;
}
.t204 {
  grid-area: cc;
  background: blue;
  border: 2px solid black;
}
.t205 {
  grid-area: dd;
  background: blue;
  border: 2px solid black;
}
.t206 {
  grid-area: ee;
  background: blue;
  border: 2px solid black;
}
.t207 {
  grid-area: ff;
  background: blue;
  border: 2px solid black;
}
.t208 {
  grid-area: gg;
  background: blue;
  border: 2px solid black;
}
